<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portable.server.mapper.AccountMapper">
    <resultMap id="Account" type="com.portable.server.model.user.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="data_id" jdbcType="VARCHAR" property="dataId"/>
        <result column="handle" jdbcType="VARCHAR" property="handle"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <parameterMap id="Account" type="com.portable.server.model.user.User">
        <parameter property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <parameter property="dataId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <parameter property="handle" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <parameter property="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <parameter property="type" javaType="java.lang.Enum" jdbcType="VARCHAR"/>
    </parameterMap>

    <sql id="selectAll">
        SELECT id,
               data_id,
               handle,
               password,
               type
        FROM user
    </sql>

    <select id="selectAccountById" resultMap="Account" parameterType="java.lang.Long">
        <include refid="selectAll" />
        WHERE id = #{id}
    </select>

    <select id="selectAccountByHandle" resultMap="Account" parameterType="java.lang.String">
        <include refid="selectAll" />
        WHERE handle = #{handle}
    </select>

    <insert id="insertAccount" useGeneratedKeys="true" keyProperty="id" parameterMap="Account">
        INSERT INTO user
        (handle, password, type, data_id)
        VALUES
        (#{handle}, #{password}, #{type}, #{dataId})
    </insert>

    <update id="updateHandle">
        UPDATE user
        SET handle = #{handle}
        WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE user
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <update id="linkAccount">
        UPDATE user
        SET data_id = #{dataId}
        WHERE id = #{id}
        AND data_id is null
    </update>
</mapper>
